
<% provide(:title, t(".edit")) %>
<% provide(:button_text, t(".save")) %>
<div class="main-agileits">
  <h2 class="sub-head"><%= t(".edit") %></h2>
    <div class="sub-main">
      <%= render "form" %>
    </div>
  <div class="clear"></div>
</div>
