<% provide(:title, t("sign_up")) %>
<% provide(:button_text, t("sign_up")) %>
<div class="main-agileits">
  <h2 class="sub-head"><%= t(".sign_up") %></h2>
    <div class="sub-main">
      <%= render "form" %>
    </div>
  <div class="clear"></div>
</div>
