<% provide :title, t("pages.home") %>
<%= render "layouts/slide" %>
  <div id="fh5co-product">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2><%= t ".tile" %></h2>
        </div>
      </div>
      <%= render "products/product" %>
    </div>
  </div>



