<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <%= render "admin/home/header" %>
  <div class="content-wrapper">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
  <%= render "admin/home/footer" %>
  </div>
</body>
