<% provide :object, "@color" %>
<% provide :button_text, "Create" %>
<h1><%= t ".sign_up" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3" >
    <%= render "categories/form" %>
</div>
