<div id="fh5co-about">
  <div class="container">
    <div class="about-content">
      <div class="rơ animate-box">
        <div class="col-md-6">
          <div class="desc">
            <h3>Company History</h3>
            <p>Loẻm ipsum dolor sit amet consectetur adipisicing elit. Ế quo ét quí mollitia ratione magni asumenda repellat atque modi temporibus tempore ẽ. Dolore facilis ẽ sunt ea praesentium expedita numquam?</p>
            <p>Quó quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Posimus itaque adipisci rem dolorem nesciunt perferndis quae amet deserunt eum labore quidem minima.</p>
          </div>
          <div class="desc">
            <h3>Mision &amp; Vision</h3>
            <p>Loẻm ipsum dolor sit amet consectetur adipisicing elit. Ế quo ét quí mollitia ratione magni asumenda repellat atque modi temporibus tempore ẽ. Dolore facilis ẽ sunt ea praesentium expedita numquam?</p>
            <p>Quó quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Posimus itaque adipisci rem dolorem nesciunt perferndis quae amet deserunt eum labore quidem minima.</p>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag "img_bg_1.jpg", class: "img-responsive", alt: "image" %>
        </div>
      </div>
    </div>
  </div>
</div>
