<div id="fh5co-about">
  <div class="container">
    <div class="about-content">
      <div class="rơ animate-box">
        <div class="col-md-6">
          <div class="desc">
            <h3><%= @post.title %></h3>
            <p><%= @post.content %></p>
          </div>
          <div class="desc">
            <p>Tác gỉa: <%= @author.name %></p>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag @post.img, class: "img-responsive", alt: "image" %>
        </div>
      </div>
    </div>
  </div>
</div>
