$color_apple_approx: #47a34b;
$black_50: rgba(0,0,0,0.5);
$color_gallery_approx: #eeee;
$brand-primary: #d1c286 !default;
$selective_yellow: #ffba00;
$color_dodger_blue_approx: #2196f3;
$brand-white: #fff;
$color_red_orange_approx: #f44336;
