<% provide :title, "Tim Kiem" %>
<%= render "layouts/slide" %>
  <div id="fh5co-product">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        </div>
      </div>
      <div class="row">
      <% @products.each do |product| %>
        <%= render "products/product", p: product %>
      <% end %>
      <%= paginate @products %>

      </div>
    </div>
  </div>
