<div class="col-md-10 col-md-offset-1">
  <% user = User.find_by id: c.user_id %>
  <h3><%= user.name %></h3>
  <blockquote>
    <p><%= c.content %></p>
  </blockquote>
  <div class="feed">
    <!-- <div>
      <blockquote>
        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
      </blockquote>
      <h3>&mdash; Louie Knight</h3>
      <span class="rate">
        <i class="icon-star2"></i>
        <i class="icon-star2"></i>
        <i class="icon-star2"></i>
        <i class="icon-star2"></i>
        <i class="icon-star2"></i>
      </span>
    </div> -->
  </div>
</div>
